/* BRAND COLORS */

:root {
    --brand-color-slate:  #434455;
    --brand-color-white: #FFFFFF;
    --brand-color-iris: #4D5AE5;
   --brand-color-navyblue: #2E2F42;
   --brand-color-ocean: #404BBF;

--brand-color-CLOUD:#F4F4FD;
--brand-color-CORNFLOWER:  #E7E9FC;
--gap: 10px

*{
    margin: 0;
    padding: 0;
}
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }


.section-first{
    padding:188px;
    background-color: var(--brand-color-navyblue);
}

.section-second{
    padding: 120px 0;
}
.section-three{
    padding-bottom: 120px;
}
.section-four{
background-color:#F4F4FD ;
padding: 120px 0;

}
.section-portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

}

  body{
  font-family:"Roboto" , sans-serif;
  background-color:#FFFFFF ;
  color: #434455;
  font-weight: 400;
 }    
            /*LOGO*/
.link{
    text-decoration: none;
    padding: 24px 0;
}
 .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em ;
    text-transform: uppercase;
    color:var(--brand-color-iris);
    margin-right: 76px;
 }

 .logo-span{
color:var(--brand-color-navyblue);

 }

 
 .link:hover{
    color:var(--link-hover);
 }
 .link:focus{
    color:var(--link-hover);
 }
 .logo-studio{
    color:var(--text-color);
 }                             


    .menu-link {
    font-size: 16px ;
    font-weight: 500 ;
    color: var(--brand-color-navyblue);
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    }

    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active {
    color: var(--brand-color-ocean) ;
    }
                        
  .header-line{
    border-bottom: 1px solid #E7E9FC;
  }
  
  .navigation{
    display: flex;
    align-items: center;
  }

.header-div{
  display: flex;
  width:1158px;
  margin:0 auto;
  padding: 0 15px;
}

  .header{
    display: flex;
  }
        /*HERO*/
     .hero{
        background-color:var(--brand-color-navyblue) ;
        padding: 188px 0;
        
     }
    .hero-title{
        color:var(--brand-color-white);
        font-size: 56px ;
        font-weight: 700 ;
        line-height: 1.07 ;
        letter-spacing: 0.02em ; 
        text-align: center ;
        max-width: 496px;


   }
   .hero-btn{
    background-color: var(--brand-color-iris) ;
    font-weight: 500 ;
    line-height: 1.5 ;
    letter-spacing: 0.04em ;
    color:var(--brand-color-white) ;
    cursor: pointer ;
    font-size: 16px ;
    font-family: "Roboto",sans-serif;
    text-align: center;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
     }

     .hero-btn:hover,
     .hero-btn:focus,
     .hero-btn:active{
    background-color:var(--brand-color-ocean) ;
     }

.important-item{
  width: calc((100% - 72px) / 4);

}

.visually-hidden{
    position: absolute;
    height: 1px;
    overflow: hidden;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    flex-wrap: nowrap;
}
    .important-list{
        gap:24px;
        display: flex;
        
    }

.important-tittle{
    font-size: 20px ;
    font-weight: 500 ;
    color: var(--brand-color-navyblue) ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    margin-bottom: 8px;

}
.important-text{
    font-style: 16px ;
    line-height:  1.5 ; 
    letter-spacing:0.02em ;
}
                        /*WHAT ARE WE DOING OFFERT*/

.caption-what-are-we-doing{
    text-align: center;
    padding: 32px 16px ;
}

.studio-list{
  gap: 24px;
  display: flex;  
}

.studio-head{
    font-size: 36px ; 
    line-height: 1.11 ;
    text-align: center ;
    letter-spacing: 0.02em ;
    text-transform: capitalize ;
    color: var(--brand-color-navyblue) ;
    margin-bottom: 72px;

}

.studio-item{
    width: calc((100%-48px)/3);
}


                        /*TEAM*/
.section.our-team{
    background-color: var(--brand-color-CLOUD);
}

.list-our-team{
    gap: 24px;
    display: flex;
}

.item-our-team{
    border-radius:0px 0px 4px 4px;
    width:calc((100% - 72px) / 4);

    
}

.caption-our-team{
    padding: 32px 0;

}

.team-head{
    font-size: 36px ;
    line-height: 1.11 ;
    text-align: center ;
    letter-spacing: 0.02em ;
    text-transform: capitalize ;
    color: var(--brand-color-navyblue) ;
    margin-bottom: 72px;
    }

.team-tittle{
    color: #2E2F42 ;
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    margin-bottom: 8px;
    text-align: center;
}

.team-text{
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    text-align: center;
    }

                                             /* Footer*/
.footer {
    background-color: var(--brand-color-navyblue) ;
    padding:100px 0 100px ;
    display: inline-block;
width: 100%;

}

.footer-span{
color:var(--brand-color-CLOUD);

}
.footer-logo{
    font-family: "Raleway",sans-serif ;
    font-weight: 800 ;
    font-size: 18px ;
    line-height: 1.17 ;
    letter-spacing: 0.03em ;
    text-transform: uppercase ;
    color: var(--brand-color-iris);
}

.link-footer{
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text{
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color:#F4F4FD;
     max-width: 264px;
}
                                            /*BUTTON*/
.btn {
    color: var(--brand-color-iris) ;
    background-color: #F4F4FD ;
    font-size: 16px ;
    font-weight: 500 ;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    line-height: 1.5 ;
    letter-spacing: 0.04em ;
 }
    
    .btn:hover
{
color: #FFFFFF;
background-color:#404BBF;
}
.btn:focus,
.btn:active{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-p{
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.button-p:hover,
.button-p:focus{
    border: 1px solid transparent;
}
   
    .all-btn{
        background-color:var(--brand-color-CLOUD) ;
        color:var(--brand-color-iris);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        line-height: 1.5 ;
        letter-spacing: 0.04em ;
        padding: 12px 24px;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
      
}
    
.all-btn:hover:hover,
.all-btn:focus:focus,
.all-btn:active:active {
    background-color: #FFFFFF;
    border: 1px solid transparent;
}

.li-portfolio{
    width: calc((100% - 48px) / 3);
}

.project-list{
    justify-content: center;
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}

.project-list-filters{
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}

 .project-tittle{
    color: var(--brand-color-navyblue) ;
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    margin-bottom: 8px;
 }

.project-text{
    font-size:16px;
    letter-spacing: 0.02em ;
    line-height: 1.5 ;

}
.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
                                                    /*ADRESS*/
.address{
    font-style: normal;
}

.address-item {
font-size: 16px ;
line-height: 1.5 ;
letter-spacing: 0.02em ;
text-decoration: none;
color: #434455;
}
 
.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px
    ;

}

.address-item:hover,
.address-item:focus,
.address-item:active {
color: var(--brand-color-ocean) ;
}

img{
    display: block;
}

